{{- /*  footer.html  */ -}}
<footer class="footer">
    <div class="footer-content">
        <div class="footer-copyright">
            © {{ now.Year }} {{ .Site.Title }}
        </div>
        <div class="footer-links">
            {{- range .Site.Params.socialIcons }}
            <a class="footer-link" href="{{ .url }}" target="_blank" rel="noopener">
                {{ .name }}
            </a>
            {{- end }}
            {{- with .OutputFormats.Get "rss" -}}
            <a class="footer-link" href="{{ .Permalink }}" target="_blank" rel="noopener">
                RSS
            </a>
            {{- end }}
        </div>
    </div>
</footer>
